:root {
  --prime: #004F42;
  --black: rgba(10,11,12,0.5);
  --darkest: ;
  --darker:rgba(59,21,20,0.8);
  --dark:rgba(59,21,20,0.6);
  --mid: rgba(59,21,20,0.3);;
  --lightest: rgba(233, 236, 239, 0.8);
  --white: rgba(233, 236, 239, 1);
  --std: all .25s ease-in-out;
  background-color: #222;
}
h1,h2,h3,h4,h5,h6,p {margin:0;}
a, a:link {
  text-decoration: none;
  transition: var(--std);
}
nav {
  height: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  color: var(--lightest);
  padding-left: 6vw;
  padding-right: 6vw;
}
nav a {
  font-size: 2rem;
  font-weight: 500;
  color: var(--lightest);
}
nav a:hover {
  color: var(--white);
}
.trigram {
  transform: scale(2);
  padding-bottom: 4px;
}
main {
  height: calc(100vh - 13rem);
  background-image: url('../img/lbrainstem.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--white);
  padding-left: 6vw;
  padding-right: 6vw;
}
section {
  background-color: var(--mid);
  padding: 3rem 6vw;
  border-radius: 1rem;
  transform: translateY(-2rem);
}
.title {
  font-size: 7.2rem;
  font-weight:600;
  margin-top: 1em;
  margin-bottom: .25em;
}
.subtitle {
  font-size: 3.6rem;
  font-weight:200;
}
a.lead {
  font-size: 2.2rem;
  color: var(--lightest);
  font-weight:400;
  display: block;
  width: 30rem;
  margin: 4rem auto 2rem auto;
  border: 2px solid var(--lightest);
  text-align: center;
  padding: 2rem 4rem;
  cursor: pointer;
}
a:hover {
  color: var(--darker);
  background-color: var(--lightest);
}
footer {
  padding-left: 6vw;
  padding-right: 6vw;
  justify-content: center;
  height: 6.5rem;
  display: flex;
  align-items: center;
  background-color: var(--dark);
  color: var(--lightest);
}
